/* src/components/About.css */

/* Base (Mobile-First) Styles */

.about {
    padding: 2rem;
    background-color: #f9f9fb;
    color: #333;
    text-align: center;
  }
  
  .about-title {
    font-size: 2rem;
    color: #0073e6;
    margin-bottom: 1.5rem;
  }
  
  /* Personal Introduction */
  .about-intro {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    color: #555;
  }
  
  /* Sections */
  .about-section {
    margin-bottom: 2rem;
  }
  
  .about-section h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0.5rem;
  }
  
  .about-section p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 0.5rem;
  }
  
  /* Skills List */
  .skills-list {
    list-style-type: none;
    padding: 0;
  }
  
  .skills-list li {
    font-size: 1rem;
    color: #333;
    background-color: #e0f0ff;
    margin: 0.25rem 0;
    padding: 0.5rem;
    border-radius: 5px;
  }
  
  .myPosition-card{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla( 0, 0%, 0%, 0.5);
    padding: 2%;
    text-align: center;
    transition: transform 0.3s ease, opacity 0.3s ease;;
  }
  .myPosition-card img{
    max-width: 50%;
    border-radius: 50%;
    margin-bottom: 2%;
  }
  .myPosition-card:hover {
    transform: scale(1.015);
}

  /* Tablet and Larger Screens */
  @media (min-width: 600px) {
    .about {
      padding: 3rem;
      text-align: center;
    }
  
    .about-title {
      font-size: 2.5rem;
    }
  
    .about-intro {
      font-size: 1.2rem;
      max-width: 700px;
    }
  
    .about-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 3rem;
    }
  
    .about-section h3 {
      font-size: 1.75rem;
    }

    .myPosition-card img{
      max-width: 20%;
    }
  }
  
  /* Desktop and Larger Screens */
  @media (min-width: 900px) {
    .about {
      max-width: 1200px;
      margin: 0 auto;
      padding: 4rem;
    }
  
    .about-title {
      font-size: 3rem;
    }
  
    .about-intro {
      font-size: 1.25rem;
    }
  
    .skills-list li {
      font-size: 1.1rem;
      padding: 0.75rem;
    }
    
    .myPosition-card img{
      max-width: 20%;
    }
  }